.app_track__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.app_track__info {
	display: flex;
	flex-direction: column;
}
